<div *ngFor="let vehicule of vehicules" class="col-lg-6 col-md-12 col-sm-12 pb-2 d-inline-block position-relative">
  <mat-card class="lien-vehicule mat-card-result" (click)="afficherDetailVehicule(vehicule)">
    <div class="container header-vehicule-card">
      <div class="row">
        <div class="d-inline-block position-relative col-6 p-0">
          <img *ngIf="vehicule && vehicule.vehiculePhotos && vehicule.vehiculePhotos[0]" class="image-vehicule"  [src]="vehicule.vehiculePhotos[0].url" [alt]="" />
          <img *ngIf="!vehicule || !vehicule.vehiculePhotos || !vehicule.vehiculePhotos[0]" class="image-vehicule w-100"  src="assets/images/pas-image.png" [alt]="" />
        </div>
        <div class="d-inline-block position-relative col-6 p-0">
          <div class="mat-card-titre text-left container">
              <span
                class="primary-color titre-vehicule col-12">{{ vehicule?.marque?.libelle }} {{ vehicule?.modele?.libelle }}</span>
            <div class="sous-titre-vehicule col-12">
              {{vehicule?.categorie?.libelle}} {{vehicule.versionVehicule}} {{vehicule.puissanceFiscale}}<span *ngIf="vehicule?.puissanceFiscale">Ch</span>
            </div>
            <div class="row mt-lg-4 text-center fw-bold">
              <span class="primary-color prix-vehicule col-12">{{ vehicule?.prixVenteMarche }} €</span>
            </div>
          </div>
        </div>
      </div>
      <div class="container body-vehicule-card primary-color fw-bold">
        <div class="row justify-content-around p-lg-2">
          <span class="col-lg-5 col-md-6 col-sm-12">{{ vehicule?.kilometrage }} KM</span>
          <span class="col-lg-5 col-md-6 col-sm-12">{{ vehicule?.dateMiseCirculation | date :'YYYY' }}</span>
        </div>
        <div class="row justify-content-around p-lg-2">
          <span class="col-lg-5 col-md-6 col-sm-12">{{ vehicule?.energie?.libelle }}</span>
          <span class="col-lg-5 col-md-6 col-sm-12">{{ vehicule?.boiteVitesse }}</span>
        </div>
      </div>
    </div>
  </mat-card>
</div>
