<mat-card class="p-0">
  <div class="row p-2 d-flex align-items-center justify-content-between header-card">
    <span class="col-3">
      Détail du véhicule
    </span>
    <span class="col-3 lien-retour" (click)="cacherDetailEmit.emit(photos)"> Retour à la recherche
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
      </svg>
    </span>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content class="pt-4 px-4 pb-2">

    <div class="header-vehicule-card">
      <div class="row">
        <div class="d-inline-block position-relative col-6 p-0">
          <!--          <img class="image-vehicule w-100" alt="TCM voiture" src="/assets/images/voiture.png">-->
           <div class="barre-icone">
            <button mat-button class="bouton-icone" (click)="openEquipementDialog()">
              <span class="material-icons">
                car_repair
              </span>
            </button>
            <button mat-button (click)="openUpdateNote()">
              <span class="material-icons">sticky_note_2</span>
            </button>
            <button mat-button class="bouton-icone" (click)="openPictureDialog()">
              <span class="material-icons">
                collections
              </span>
            </button>
            <button mat-button class="bouton-icone" (click)="generateContratPdf()">
              <span class="material-icons">
                picture_as_pdf
              </span>
            </button>
          </div>
          <app-swiper-img [images]="photos"> </app-swiper-img>
        </div>
        <div class="d-inline-block position-relative col-6 p-0" *ngIf="vehicule">
          <div class="mat-card-titre text-left container">
            <div class="row justify-content-around">
              <h1
                class="fw-bold primary-color titre-vehicule col-6 m-0">{{ vehicule.marque?.libelle }} {{ vehicule.modele?.libelle }}</h1>
              <button  mat-raised-button (click)="editVehicule()" type="button" color="primary" class="col-1"> EDIT </button>
            </div>
            <div class="sous-titre-vehicule col-12 mt-2">
              {{vehicule.categorie?.libelle}} {{vehicule.versionVehicule}} {{vehicule.puissanceFiscale}}<span *ngIf="vehicule.puissanceFiscale">Ch</span>
            </div>
            <div class="row mt-lg-4 text-center fw-bold">
              <span class="primary-color prix-vehicule col-12">{{ vehicule.prixVenteMarche }} €</span>
            </div>

            <div class="container body-info-vehicule-card">
              <h2>Informations</h2>
              <div class="row justify-content-around">
                <span class="col-lg-5 col-md-6 col-sm-12">Kilométrage</span>
              </div>
              <div class="row justify-content-around">
                <span class="col-lg-5 col-md-6 col-sm-12">Kilométrage</span>
                <span class="col-lg-5 col-md-6 col-sm-12">{{ vehicule.kilometrage }} KM</span>
              </div>
              <div class="row justify-content-around">
                <span class="col-lg-5 col-md-6 col-sm-12">Année</span>
                <span class="col-lg-5 col-md-6 col-sm-12">{{ vehicule.dateMiseCirculation | date :'YYYY' }}</span>
              </div>
              <div class="row justify-content-around">
                <span class="col-lg-5 col-md-6 col-sm-12">Mise en circulation</span>
                <span class="col-lg-5 col-md-6 col-sm-12">{{ vehicule.dateMiseCirculation | date :'dd/MM/YYYY' }}</span>
              </div>
              <div class="row justify-content-around">
                <span class="col-lg-5 col-md-6 col-sm-12">Energie</span>
                <span class="col-lg-5 col-md-6 col-sm-12">{{ vehicule.energie?.libelle }}</span>
              </div>
              <div class="row justify-content-around">
                <span class="col-lg-5 col-md-6 col-sm-12">Nombre de portes</span>
                <span class="col-lg-5 col-md-6 col-sm-12">{{ vehicule.nbPorte }}</span>
              </div>
              <div class="row justify-content-around">
                <span class="col-lg-5 col-md-6 col-sm-12">Puissance fiscale</span>
                <span class="col-lg-5 col-md-6 col-sm-12">{{ vehicule.puissanceFiscale }}</span>
              </div>
              <div class="row justify-content-around">
                <span class="col-lg-5 col-md-6 col-sm-12">puissance DIN</span>
                <span class="col-lg-5 col-md-6 col-sm-12">{{ vehicule.puissanceReel }}</span>
              </div>
              <div class="row justify-content-around">
                <span class="col-lg-5 col-md-6 col-sm-12">Boite de vitesse</span>
                <span class="col-lg-5 col-md-6 col-sm-12">{{ vehicule.boiteVitesse }}</span>
              </div>
              <div class="row justify-content-around">
                <span class="col-lg-5 col-md-6 col-sm-12">Emission de CO2</span>
                <span class="col-lg-5 col-md-6 col-sm-12">{{ vehicule.co2 }}</span>
              </div>
              <div class="row justify-content-around">
                <span class="col-lg-5 col-md-6 col-sm-12">Couleur extérieure</span>
                <span class="col-lg-5 col-md-6 col-sm-12">{{ vehicule.couleurExt }}</span>
              </div>
              <div class="row justify-content-around">
                <span class="col-lg-5 col-md-6 col-sm-12">Couleur intérieure</span>
                <span class="col-lg-5 col-md-6 col-sm-12">{{ vehicule.couleurInt }}</span>
              </div>
              <div class="row justify-content-around">
                <span class="col-lg-5 col-md-6 col-sm-12">{{getNombreMain()}}</span>
              </div>
            </div>

            <div class="container">
              <h2>Note</h2>
              <span class="col-lg-5 col-md-6 col-sm-12 note" [innerHTML]="vehicule.note"></span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </mat-card-content>
  <div class="row p-2 d-flex align-items-center justify-content-between footer-card">
    <span class="col-3">
      Détail du véhicule
    </span>
    <span class="col-3 lien-retour" (click)="cacherDetailEmit.emit(vehicule)"> Retour à la recherche
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
      </svg>
    </span>
  </div>
</mat-card>
