@import "/src/styles/variables";

.lien-retour {
  cursor: pointer;
  text-align: right;
}

.body-info-vehicule-card {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.note { white-space: pre-wrap;}

.btn-success {
  color: green;
  border: solid 1px green;
  &:hover {
    color: white;
    border: none;
  }
}

.btn-danger {
  color: red;
  border: solid 1px red;
  &:hover {
    color: white;
    border: none;
  }
}
