<mat-card class="p-0 mt-4">
  <h4 class="col-12 d-flex align-items-center px-2">
    <span>
      Profil utilisateur
    </span>
  </h4>
  <mat-divider></mat-divider>
  <mat-card-content class="pt-4 px-4 pb-2 container d-flex">
    <div class="col-5">
      <div class="row d-flex">
        <div class="col-5">
          Nom d'utilisateur :
        </div>
        <div *ngIf="utilisateur && utilisateur.username" class="col">
          {{utilisateur.username}}
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          Adresse email :
        </div>
        <div *ngIf="utilisateur && utilisateur.email" class="col">
          {{utilisateur.email}}
        </div>
      </div>
    </div>
    <div class="col-6 d-flex">
      <button mat-button
              color="primary"
              type="button"
              class="d-flex align-items-center mail_button" (click)="modifierEmail()">
        <mat-icon>alternate_email</mat-icon>
        Modifier l'email
      </button>
      <button mat-raised-button
              color="secondary"
              type="button"
              class="d-flex align-items-center btn-cancel" (click)="modifierMdp()">
        <mat-icon>lock</mat-icon>
        Modifier le mot de passe
      </button>

      <button mat-raised-button
              color="secondary"
              type="button"
              class="d-flex align-items-center btn-cancel" (click)="createUser()">
        <mat-icon>lock</mat-icon>
        Créer un utilisateur
      </button>
    </div>
  </mat-card-content>
</mat-card>

<app-liste-utilisateur [utilisateurs] = "utilisateurs" [roles]="roles">
</app-liste-utilisateur>

