@import '/src/styles/variables';

.tri-button {
  border : solid 0.01rem $primary-color;
  border-radius : 0.3rem;
}

.display-component {
  visibility: visible;
}

.hide-component {
  visibility: hidden;
}

.bouton-reinitaliser {
  max-width: 123px;
  min-width: 123px;
  margin-right: 20px;
}

.bouton-recherche {
  max-width: 123px;
  min-width: 123px;
}
