
// ********
// Couleurs
// ********

$primary-color: #1E366D;
$is-black: black;
$is-grey: #585e62;
$is-white: white;
$is-grey-white: #dfdfdf;

//$primary-color: #1181B2;
//$is-black: black;
//$is-grey: #212221;
//$is-white: white;
//$is-grey-white: #DDEDF4;

// **********
// Dimensions
// **********

$container-max-width: 1600px;
$margin-xl: 30px;
$margin-large: 24px;
$margin-medium: 20px;
$margin-medium-small: 15px;
$margin-small: 10px;
$margin-xtra-small: 5px;
$width-30per:30%;

