<form class="container" [formGroup]="noteForm" (ngSubmit)="updateNote()">
  <mat-card class="p-0">
    <h4 class="col-12 d-flex align-items-center px-2">
      <span>
        Ajouter/Modifier une note
      </span>
    </h4>
    <mat-divider></mat-divider>
    <mat-card-content class="pt-4 px-4 pb-2">
      <!-- NOM PRENOM -->
      <div class="row">
        <mat-form-field class="col-12">
          <mat-label>NOTE</mat-label>
          <textarea matInput
                    placeholder="Comment"
                    formControlName="{{commonFormKeys.NOTE}}">
          </textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-dialog-actions class="button-row col-12 d-flex justify-content-end">
    <button mat-raised-button
            color="secondary"
            type="button"
            class="d-flex align-items-center btn-cancel" (click)="cancelAndCloseNote()">
      Annuler
    </button>
    <button mat-raised-button
            color="primary"
            type="submit"
            class="d-flex align-items-center">
      Sauvegarder
      <mat-icon class="button-icon ml-1 mat-icon-button-enable" matSuffix>save</mat-icon>
    </button>
  </mat-dialog-actions>
</form>
