<swiper class="swiper" [config]="config" #swiperRef >
  <div class="swiper-wrapper">
    <div swiperSlide *ngFor="let image of images" class="swiper-slide div-big-img">
        <img class="big-img"  [src]="image.url" [alt]="" />
    </div>
  </div>
  <div class="swiper-pagination" ></div>
  <div class="swiper-button-next" (click)="next()"></div>
  <div class="swiper-button-prev" (click)="previous()"></div>
</swiper>
<div class="div-small-img">
  <div *ngFor="let image of images; let i = index" class="div-fix-small-img" [ngClass]="i==selectedIndex ? 'selectedImage': ''">
    <img class="small-img" [src]="image.url" [alt]="" (click)="slideTo(i)"/>
  </div>
</div>
