<swiper [config]="config" #swiperRef>
  <div class="swiper-wrapper">
    <div swiperSlide *ngFor="let image of images" class="swiper-slide div-big-img">
        <img class="big-img"  [src]="displayImage(image.data)" [alt]="" />
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
<div class="div-small-img">
  <div *ngFor="let image of images; let i = index" class="div-fix-small-img " >
    <img class="small-img" [src]="displayImage(image.data)" [alt]="" (click)="slideTo(i)"/>
  </div>
</div>
